<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Homepage with dashboard, resources, and account management for users.">
    <meta name="keywords" content="homepage, dashboard, resources, account, user, web">
    <title>Resources</title>
    <link rel="stylesheet" href="/dashboard/new.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <nav>
                <ul>
                    <li><a href="{{ url_for('homepage') }}" data-tooltip="Home"><i class="fa-regular fa-house"></i></a></li>
                    <li><a href="{{ url_for('leaks') }}" data-tooltip="Leaks"><i class="fa-solid fa-spider"></i></a></li>
                    <li><a href="{{ url_for('alerts') }}" data-tooltip="Alerts"><i class="fa-regular fa-bell"></i></a></li>
                    <li><a href="{{ url_for('dashboard') }}" data-tooltip="Dashboard"><i class="fa-regular fa-chart-bar"></i></a></li>
                    <li><a href="{{ url_for('reports') }}" data-tooltip="Reports"><i class="fa-regular fa-file-lines"></i></a></li>
                    <li><a class="active" href="{{ url_for('resources_route') }}" data-tooltip="Resources"><i class="fa-solid fa-book-open"></i></a></li>
                    <li><a href="{{ url_for('account') }}" data-tooltip="Account"><i class="fa-regular fa-circle-user"></i></a></li>
                    <li><a href="{{ url_for('config') }}" data-tooltip="Settings"><i class="fa-solid fa-gear"></i></a></li>
                </ul>
            </nav>
        </aside>
        <main>
            <div class="section-heading">
                <h2>Resources</h2>
            </div>
            <div class="columns">
                <div class="col">
                    <section class="resource-item">
                        <img class="card_img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Tor-logo-2011-flat.svg/1200px-Tor-logo-2011-flat.svg.png">
                        <h3><a href="https://www.torproject.org/">Tor <i class="fa-solid fa-arrow-up-right-from-square"></i></a></h3>
                            <p>Routes traffic through the Tor network, preventing tracking and protecting against surveillance and censorship to protect your privacy and anonymity.</p>
                    </section>
                </div>
                <div class="col">
                    <section class="resource-item">
                        <img class="card_img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQg7pw4mFjHZHNrHDRiQdBeNG1EPHWHx5CKZA&s">
                        <h3><a href="https://geti2p.net/en/">I2P <i class="fa-solid fa-arrow-up-right-from-square"></i></a></h3>
                            <p>A fully encrypted peer-to-peer overlay network that routes traffic inside its network, providing anonymous communication and obfuscates user data.</p>
                    </section>
                </div>
                <div class="col">
                     <section class="resource-item">
                        <img class="card_img" src="https://cwatch.comodo.com/images/pastebin.jpg">
                        <h3><a href="https://pastebin.com/">Pastebin <i class="fa-solid fa-arrow-up-right-from-square"></i></a></h3>
                            <p>Online platform for sharing text-based content. Monitored for leaked credentials, documents, stolen data, and other potentially malicious threats.</p>
                    </section>
                </div>
                <div class="col">
                     <section class="resource-item">
                        <img class="card_img" src="https://images.ctfassets.net/8aevphvgewt8/5C7QaTEpGAyMgpM7TpECUZ/52926458b18c4d367f6cff5f808f2fcd/github-enterprise-advanced-security.jpg">
                        <h3><a href="https://github.com/about">GitHub <i class="fa-solid fa-arrow-up-right-from-square"></i></a></h3>
                            <p>Online platform for hosting and collaborating on code, tracking changes, managing issues, and sharing projects across open-source and teams.</p>
                    </section>
                </div>
                <div class="col">
                     <section class="resource-item">
                        <img class="card_img" src="https://whop.com/blog/content/images/size/w2000/2023/08/discord-webhooks-large.webp">
                        <h3><a href="https://support.discord.com/hc/en-us/articles/228383668-Intro-to-Webhooks">Discord Webhooks <i class="fa-solid fa-arrow-up-right-from-square"></i></a></h3>
                            <p>Lets apps send automated messages or alerts into channels, enabling integrations, notifications, and botless updates in real time.</p>
                    </section>
                </div>
            </div>
        </main>
    </div>
</body>
</html>
